<h2>Activities template</h2>
{{#each model.activities as |activity|}}
  <b>{{activity.name}}</b><br>
  {{activity.description}}<br>
{{/each}}

1{{model}}<br>
2{{model.day}}<br>
3{{model.activities.length}}<br>
5{{activities.length}}<br>
6{{day}}<br>
7{{days}}<br>
