<div class="Grid Grid--full pad-top-half">
  <h1 class="h-text-center">{{model.name}}</h1>
  <div class="Grid__item oneHalf">
    <p>{{model.description}}</p>
    {{#link-to 'activities' model}} Activities {{/link-to}}
    {{outlet}}
  </div>
  <div class="">
    <button {{action "delete" model}}>Delete Day</button>
  </div>

  {{#each model.activities as |activity|}}
    <b>{{activity.name}}</b><br>
    {{activity.description}}<br>
  {{/each}}
</div>
